* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-accent: #04ddb2;
    --clr-dark: #767676;
    --clr-darkest: #333;
    --clr-white: #fff;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Global */

.flex {
    display: flex;
}

/* Header */

header {
    height: 82px;
    padding-inline: 2em;
    justify-content: space-between;
    align-items: center;
}

/* Header - Nav */

.nav__item {
    list-style: none;
    margin-right: 1rem;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: 18px;
}

.nav__link:hover {
    color: var(--clr-darkest);
    font-weight: 600;
}

