* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-accent: #04ddb2;
    --clr-dark: #767676;
    --clr-darkest: #333;
    --clr-white: #fff;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Global */

.flex {
    display: flex;
}

/* Header */

header {
    height: 82px;
    padding-inline: 2em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Header - Nav */

.nav__item {
    list-style: none;
    margin-right: 1rem;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: 18px;
}

.nav__link:hover {
    color: var(--clr-darkest);
    font-weight: 600;
}

/* Components */

button {
    border: none;
    outline: none;
}

.download-btn {
    background-color: var(--clr-accent);
    width: 128px;
    height: 48px;
    border-radius: 100px;
    color: var(--clr-white);
    font-size: 18px;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.download-btn:hover {
    transform: scale3d(1.05,1.05,1.05);
    cursor: pointer;
}
